#title{
    background-color: #2b2929;
    
}


.container-fluid{
    padding: 3%;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    color:rgb(239, 239, 239);
}
h2{
    color:rgb(239, 239, 239);
    font-family: 'Georgia';
    font-weight: bold;
    font-size:1.5rem;
}

h3{
    font-family: 'Georgia';
    color:rgb(239, 239, 239);
    font-size: 2.5rem;
}

p{
    color:rgb(239, 239, 239);
    font-size: 1.5rem;
}
.navbar {
    padding: 0 0 3rem;
    color:rgb(239, 239, 239);
    
    

}
/*Navigation Bar */
.navbar-brand {
    font-family: Times;
    font-size: 1.5rem;
    font-weight: bold;
    color:rgb(239, 239, 239);
    
}

.navbar-item {
    padding: 0 18px;
}
.nav-link{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color:rgb(239, 239, 239);
}

#intro{
    padding: 20% 0%;
}

#proof{
    text-align: center;
    padding: 20% 0%;
}

#proof.h1{
    padding: 5%, 0%;
}

